@import url(../navbar/navbar.css);
@import url(../components/buttons.css);

.container{
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

body{
    background-color: #202020;
    --red : #FF0000;
    --gray : #808080;
}

main .container{
    display: flex;
    flex-direction: column;
    gap: 70px;
}

/*********************** banner slider start ***********************/

.slider-banner{
    padding-top: 75px;
    height: 70dvh;
    overflow-x: hidden;
    position: relative;
    margin-bottom: 50px;
}

.swiper-wrapper{
    height: 100%;
}

.swiper-slide{
    height: 100%;
    color: #fff;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    display: flex;
    position: relative;
    align-items: end;
}

.slide-contents{
    margin-bottom: 20px;
}

.slider-banner .slide-buttons{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 15px;
}

.slide-buttons a{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.slider-banner .slide-buttons a span{
    display: none;
}

.slider-banner .btn-icon{
    width: 50px;
    height: 50px;
}

.slide-buttons a:first-child{
    background: none;
    color: var(--red);
    border: none;
    border-radius: 5px;
    opacity: .8;
    transition: opacity .2s;
}

.slide-buttons a:first-child:hover{
    opacity: 1;
}

.slide-buttons a:last-child{
    display: none;
}

.slide-buttons a:last-child:hover{
    outline: #FF0000 solid 1px;
}

.slider-banner .slide-description{
    display: none;
}

.slider-banner h2 {
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.5rem;
    font-weight: 600;
    text-overflow: ellipsis;
    margin-bottom: 20px;
}

.slide-infos{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.slider-banner .tags{
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
}

.slider-banner .slide-tag{
    background: #fff;
    color: #000;
    font-size: .7rem;
    padding: 5px;
    border-radius: 500px;
    font-weight: bold;
}

.date-time-rating{
    display: flex;
    gap: 20px;
}

.date-time-rating span {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: .9rem;
}

/* swiper js custom styles for banner slider start */
.swiper-pagination{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-pagination-bullet{
    width: 20px;
    height: 20px;
    background: #fff;
    transition: all .2s;
    opacity: .9;
}

.swiper-pagination-bullet-active{
    width: 40px;
    height: 12px;
    background: var(--red);
    border-radius: 500px;
    opacity: 1;
}
/* swiper js custom styles for banner slider end */

@media screen and (min-width : 620px) {

    .slider-banner{
        height: 70dvh;
    }

    .slide-contents{
        margin-bottom: 35px;
    }
}

@media screen and (min-width : 768px) {

    .slider-banner{
        height: 65dvh;
    }
    
    .slider-banner .slide-infos{
        flex-direction: row;
    }
    
    .slider-banner .slide-description{
        display: -webkit-box;
        font-size: .8rem;
        line-height: 1.1;
        width: 70%;
        margin-bottom: 60px;
        -webkit-line-clamp: 4;
        overflow: hidden;
        -webkit-box-orient: vertical;
    }
}


@media screen and (min-width : 992px) {

    .slider-banner .btn-icon{
        width: 20px;
        height: 20px;
    }

    .slider-banner .slide-buttons a span {
        display: block;
    }

    .slider-banner .slide-buttons a:first-child{
        color: #fff;
        background: var(--red);
    }

    .slider-banner .slide-buttons a:last-child{
        display: flex;
        border: 2px solid var(--red);
    }

    .slider-banner .slide-description{
        font-size: .9rem;
    }
}

@media screen and (min-width : 1200px) {

    .slider-banner h2{
        font-size: 2rem;
    }

    .slider-banner .slide-tag{
        font-size: .9rem;
    }

    
    .slide-contents{
        margin-bottom: 50px;
    }

    .slider-banner .slide-description{
        font-size: 1.1rem;
        width: 60%;
        line-height: 1.2;
    }

    .slider-banner{
        height: 85dvh;
    }

    .slider-banner .slide-buttons a {
        padding: 20px;
        font-size: 1.2rem;
    }
}

/*********************** banner slider end ***********************/

/*********************** section title and section btn start ***********************/

.section-title-and-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .9rem;
    font-weight: 600;
    margin-bottom: 30px;
}

.section-title-and-btn a {
    color: var(--gray);
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.section-title-and-btn svg {
    width: 25px;
    height: 25px;
}

.section-title{
    color: #fff;
}

@media screen and (min-width : 620px) {
    .section-title-and-btn{
        font-size: 1.1rem;
    }
}

@media screen and (min-width : 768px) {
    .section-title-and-btn{
        font-size: 1.35rem;
    }

    .section-title-and-btn svg {
        width: 35px;
        height: 35px;
    }
}

@media screen and (min-width : 1200px) {
    .section-title-and-btn{
        font-size: 1.5rem;
    }
}

/*********************** section title and section link end ***********************/

/*********************** recently updated section start ***********************/


.recently-updated-content-wrapper{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    color: #fff;
    overflow: hidden;
}

.updated-series-card{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.updated-series-card .series-infos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: .9rem;
}


.updated-series-card img{
    width: 35%;
    height: 80%;
    border-radius: 5px;
}

@media screen and (min-width : 480px) {
    .recently-updated-content-wrapper{
        grid-template-columns: repeat(2, 1fr);
    }

    .updated-series-card img{
        width: 50%;
        height: 90%;
    }
}

@media screen and (min-width : 768px) {
    .recently-updated-content-wrapper{
        gap: 0;
    }

    .updated-series-card img{
        width: 40%;
        height: 80%;
    }

    .updated-series-card .series-infos{
        font-size: 1rem;
    }
}

@media screen and (min-width : 992px) {
    .recently-updated-content-wrapper{
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }

    .updated-series-card img{
        width: 100px;
        height: 120px;
    }
    
    .updated-series-card .series-infos{
        font-size: .9rem;
    }
}


/*********************** recently updated section end ***********************/

/*********************** trendings start ***********************/

.trendings-content-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

.trending-card{
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #fff;
    overflow: hidden;
}

.trending-card .img-wrapper{
    height: 100%;
    position: relative;
}

.trending-card img{
    height: 100%;
    width: 100%;
    filter: brightness(.9);
    border-radius: 10px;
}

.trending-card .time,
.trending-card .rating,
.trending-card .play-btn{
    position: absolute;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
}

.trending-card .time {
    left: 10px;
    top: 10px;
}

.trending-card .rating{
    right: 10px;
    top: 10px;
}

.trending-card .play-btn{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
}

.trending-card .name-and-tags{
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: space-between;
}

.trending-card h6{
    font-size: 1.1rem;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.trending-card .tags{
    display: flex;
    gap: 5px;
    justify-content: end;
}

@media screen and (min-width : 620px) {
    .trendings-content-wrapper{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width : 992px) {
    .trendings-content-wrapper{
        grid-template-columns: repeat(3, 1fr);
    }
}

/*********************** trendings end ***********************/

