@import url(../navbar/navbar.css);

.container{
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

body{
    --red : #FF0000;
}

/*********************** banner slider start ***********************/

.slider-banner{
    padding-top: 75px;
    height: 70dvh;
    overflow-x: hidden;
    position: relative;
}

.swiper-wrapper{
    height: 100%;
}

.swiper-slide{
    height: 100%;
    color: #fff;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    display: flex;
    position: relative;
    align-items: end;
}

.slide-contents{
    margin-bottom: 20px;
}

.slider-banner .slide-buttons{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 15px;
}

.slide-buttons a{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.slider-banner .slide-buttons a span{
    display: none;
}

.slider-banner .btn-icon{
    width: 50px;
    height: 50px;
}

.slide-buttons a:first-child{
    background: none;
    color: var(--red);
    border: none;
    border-radius: 5px;
    opacity: .8;
    transition: opacity .2s;
}

.slide-buttons a:first-child:hover{
    opacity: 1;
}

.slide-buttons a:last-child{
    display: none;
}

.slide-buttons a:last-child:hover{
    outline: #FF0000 solid 1px;
}

.slider-banner .slide-description{
    display: none;
}

.slider-banner h2 {
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.5rem;
    font-weight: 600;
    text-overflow: ellipsis;
    margin-bottom: 20px;
}

.slide-infos{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.slider-banner .tags{
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
}

.slider-banner .slide-tag{
    background: #fff;
    color: #000;
    font-size: .7rem;
    padding: 5px;
    border-radius: 500px;
    font-weight: bold;
}

.date-time-rating{
    display: flex;
    gap: 20px;
}

.date-time-rating span {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: .9rem;
}

.swiper-pagination{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-pagination-bullet{
    width: 20px;
    height: 20px;
    background: #fff;
    transition: all .2s;
    opacity: .9;
}

.swiper-pagination-bullet-active{
    width: 40px;
    height: 12px;
    background: var(--red);
    border-radius: 500px;
    opacity: 1;
}

@media screen and (min-width : 620px) {

    .slider-banner{
        height: 70dvh;
    }

    .slide-contents{
        margin-bottom: 35px;
    }
}

@media screen and (min-width : 768px) {

    .slider-banner{
        height: 65dvh;
    }
    
    .slider-banner .slide-infos{
        flex-direction: row;
    }
    
    .slider-banner .slide-description{
        display: -webkit-box;
        font-size: .8rem;
        line-height: 1.1;
        width: 70%;
        margin-bottom: 60px;
        -webkit-line-clamp: 4;
        overflow: hidden;
        -webkit-box-orient: vertical;
    }
}


@media screen and (min-width : 992px) {

    .slider-banner .btn-icon{
        width: 20px;
        height: 20px;
    }

    .slider-banner .slide-buttons a span {
        display: block;
    }

    .slider-banner .slide-buttons a:first-child{
        color: #fff;
        background: var(--red);
    }

    .slider-banner .slide-buttons a:last-child{
        display: flex;
        border: 2px solid var(--red);
    }

    .slider-banner .slide-description{
        font-size: .9rem;
    }
}

@media screen and (min-width : 1200px) {

    .slider-banner h2{
        font-size: 2rem;
    }

    .slider-banner .slide-tag{
        font-size: .9rem;
    }

    
    .slide-contents{
        margin-bottom: 50px;
    }

    .slider-banner .slide-description{
        font-size: 1.1rem;
        width: 60%;
        line-height: 1.2;
    }

    .slider-banner{
        height: 85dvh;
    }

    .slider-banner .slide-buttons a {
        padding: 20px;
        font-size: 1.2rem;
    }
}

/*********************** banner slider end ***********************/
