@import url(../css-reset/reset.css);
@import url(../components/navbar.css);
@import url(../components/buttons.css);
@import url(../components/medias.css);
@import url(../components/footer.css);

.container{
    width: 90% ;
    margin: 0 auto ;
    max-width: 1200px ;
}

body{
    background-color: #303030;
    --red : #FF0000;
    --gray : #808080;
    position: relative;
}

main.container{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

main {
    padding-top: 120px;
    margin-bottom: 100px !important;
}

/* video-player start */

.video-js{
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    border-radius: 10px;
}


/* video js skin customization start */

.video-js .vjs-big-play-button {
    height: 50px;
    width: 50px;
    margin-top: unset;
    margin-left: unset;
    transform: translate(-50%, -50%); 
    border-radius: 50%;
    background-color: var(--red);
    border: none;
}
.vjs-big-play-button .vjs-icon-placeholder::before {
    position: inherit;
    top: unset;
    left: unset;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vjs-control-bar{
    background: linear-gradient(to bottom, rgba(0,0,0,0) 20%, rgba(0,0,0,.7) 80%) !important;
    height: 50px !important;
    font-size: 10px;
}

.vjs-control-bar .vjs-icon-placeholder::before{
    display: flex;
    align-items: center;
    justify-content: center;
}

.vjs-volume-panel{
    align-items: center;
}

.vjs-play-progress{
    background: #FF0000 !important;
    color: #FF0000;
}

.vjs-remaining-time{
    display: flex ;
    align-items: center;
}

.vjs-playback-rate div:first-child{
    display: flex;
    align-items: center;
    justify-content: center;
}

.vjs-texttrack-settings span:first-child,
.vjs-play-progress .vjs-time-tooltip{
    display: none !important;
}

.vjs-menu-item.vjs-selected{
    background: #dd3535 !important;
    color: white !important;
}

.vjs-menu-item-text{
    text-transform: capitalize;
    font-size: .6rem;
    font-weight: 600;
}

.vjs-menu-button-popup .vjs-menu{
    width: 6em !important;
    left: -1em !important;
}

.vjs-text-track-cue div{
    background-color: rgba(0,0,0,0.5) !important;
}


@media screen and (min-width : 620px) {

    .vjs-control-bar .vjs-icon-placeholder::before{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .vjs-current-time{
        display: flex !important;
        align-items: center;
        padding-right: 0 !important;
    }
    
    .vjs-time-divider{
        display: flex;
        align-items: center;
    }
    .vjs-duration{
        display: flex !important;
        align-items: center;
        padding-left: 0 !important;
    }
    
    .vjs-remaining-time{
        display: none;
    }
    .vjs-menu-item-text{
        font-size: .7rem;
    }
}

@media screen and (min-width : 768px) {
    .vjs-big-play-button{
        width: 60px !important;
        height: 60px !important;
    }
}

@media screen and (min-width : 992px) {
    .vjs-control-bar{
        font-size: 13px !important;
    }
}

@media screen and (min-width : 1200px) {
    .vjs-control-bar{
        font-size: 16px !important;
    }

    .vjs-big-play-button .vjs-icon-placeholder::before{
        font-size: 50px;
    }

    .vjs-big-play-button{
        width: 80px !important;
        height: 80px !important;
    }

    .vjs-menu-item-text{
        font-size: .9rem;
    }
}
/* video js skin customization end */

/* video-player end */


/* video-infos start */

.video-infos{
    color: #fff;
}

.video-infos .img-container{
    display: none;
}

.video-infos img {
    width: 100%;
    border-radius: 5px;
    height: 100%;
}

.about-video{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.favorite-btn-and-media-name{
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden !important;
}

.about-video button{
    font-size: .8rem;
    gap: 0 !important;
    padding: 3px;
    font-weight: 600;
}

.about-video button svg{
    width: 30px;
    height: 30px;
}

h1{
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 50%;
}

.video-tags{
    font-size: .7rem;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.video-tags .tags a{
    background: #fff;
    color: #000;
    padding: 5px;
    border-radius: 5px;
    font-weight: 600;
    margin-right: 5px;
    text-transform: capitalize;
}

.video-infos .date-and-time-and-rating{
    display: flex;
    align-items: center;
    gap: 25px;
}

.video-infos .date-and-time-and-rating span{
    display: flex;
    align-items: center;
    gap: 5px;
    letter-spacing: 2px;
}

.video-description{
    font-size: .9rem;
    line-height: 1.2;
}

.video-infos ul li{
    margin-bottom: 15px;
    font-size: .9rem;
    display: flex;
    gap: 5px;
    align-items: center;
    text-transform: capitalize;
}

.video-infos ul li span:last-child{
    font-size: .8rem;
    margin-left: 10px;
    line-height: 1.1;
}


@media screen and (min-width : 768px){
    h1{
        font-size: 1.5rem;
    }

    .video-tags{
        flex-direction: row;
        align-items: center;
        font-size: .8rem;
    }

    .video-description{
        font-size: 1rem;
        width: 90%;
        line-height: 1.3;
    }

    .about-video button{
        padding: 5px;
        font-size: .9rem;
    }
}

@media screen and (min-width : 992px) {
    .video-infos{
        display: flex;
        gap: 25px;
    }

    .video-infos .img-container{
        display: block;
        max-width: 250px;
        max-height: 450px;
    }

    .video-infos ul li span:last-child{
        width: 70%;
    }
    .video-infos ul li span:last-child{
        font-size: 1rem;
        margin-left: 10px;
        line-height: 1.1;
    }
}

@media screen and (min-width : 1200px) {
    .video-infos{
        gap: 40px;
    }

    .video-description{
        font-size: 1.1rem;
        line-height: 1.5;
    }

    .video-infos ul li{
        font-size: 1rem;
    }

    h1{
        font-size: 1.8rem;
    }
    .video-infos .img-container{
        max-width: 300px;
        max-height: 450px;
    }
}
/* video-infos end */

/* video-episodes start */

.section-title{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 35px;
}

.episodes-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    margin-bottom: 15px;
}

.episode{
    background: #e4e2e2;
    border-radius: 5px;
    padding: 10px;
    font-size: .8rem;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #000;
}

.episode.active{
    background-color: var(--red);
    color: #fff;
}

@media screen and (min-width : 480px) {
    .episode{
        padding: 15px;
        font-size: .9rem;
    }
}

@media screen and (min-width : 768px){
    .episodes-wrapper{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }
}

@media screen and (min-width : 1200px) {
    .section-title{
        font-size: 1.5rem;
    }
}

/* video-episodes end */

/* comments start */

.comment-section{
    color: #fff;
    margin-top: 50px;
}

.comment{
    margin-bottom: 25px;
}

.write-comment{
    display: flex;
    gap: 10px;
    margin-bottom: 35px;
}

.textarea-wrapper{
    width: 100%;
}

.textarea-wrapper textarea{
    border-radius: 5px;
    border: none;
    height: 50px;
    font-family: "Poppins", sans-serif;
    font-size: .85rem;
    width: 100%;
    margin-bottom: 10px;
}

.textarea-wrapper button{
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    cursor: pointer;
    padding: 3px 5px;
    border-radius: 5px;
    font-size: .8rem;
    background: var(--red);
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    opacity: .8;
    transition: opacity .2s;
}

.textarea-wrapper button:hover {
    opacity: 1;
}

.textarea-wrapper textarea:focus{
    outline: none;
}

.comment-section img{
    width: 50px;
    height: 50px;
    border-radius: 500px;
}

.comment{
    display: flex;
    gap: 10px;
    font-size: .8rem;
}

.comment-infos {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
    width: 100%;
}

.comment-infos p {
    font-size: .9rem;
    margin-bottom: 5px;
    overflow-wrap: anywhere;
}

.comment-btns{
    overflow-wrap: break-word;
    display: flex;
    align-items: center;
    gap: 15px;
}

.comment-btns span{
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 3px;
    cursor: pointer;
}

@media screen and (min-width : 768px) {
    .comment-section textarea{
        height: 100px;
        width: 80%;
        font-size: .9rem;
        padding: 5px;
    }

    .comment{
        font-size: .85rem;
    }

    .comment-infos span{
        margin-bottom: 5px;
    }

    .comment-infos p {
        font-size: .95rem;
    }
}

@media screen and (min-width : 992px) {
    .comment-section{
        width: 85%;
    }
}


@media screen and (min-width : 1200px) {
    .comment-section{
        width: 70%;
    }
}
/* comments end */