.btn,
.btn-fill{
    border-radius: 5px;
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 5px 3px;
    color: #fff;
    border: 1px solid #FF0000;
    display: flex;
    align-items: center;
    gap: 3px;
    cursor: pointer;
}

.btn-fill{
    background: #FF0000;
    opacity: .8;
    transition: opacity .2s;
}

.btn-fill:hover{
    opacity: 1;
}

.btn{
    background: none;
}
