footer{
    padding: 50px 0 40px;
    background: linear-gradient(to bottom, #202020 10%, #2b2b2b 30%);
}

footer .container{
    display: flex;
    align-items: center;
    color: #fff;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}

.footer-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    padding-bottom: 20px;
}

footer .container > a {
    
    margin: 0 auto;
}

footer img {
    width: 80px;
}

.footer-content-top{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    padding: 10px 0;
}


.socials-and-search-box{
    width: 100%;
}

footer .socials {
    display: flex;
    justify-content: center;
    gap: 25px;
}


footer .socials a {
    padding: 5px;
    transition: transform .2s;
}

footer .socials a:hover {
    transform: scale(1.2);
}

footer .socials svg{
    width: 20px;
    height: 20px;
}

.socials-and-search-box{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-search-box{
    background-color: #fff;
    border-radius: 500px;
    overflow: hidden;
    height: 25px;
    padding: 0;
}

.socials-and-search-box input{
    background: none;
    border: none;
    padding: 0;
    padding-left: 10px;
    height: 100%;
    width: 80px;
}

.socials-and-search-box input:focus{
    outline: none;
}

.footer-search-btn{
    padding: 0 10px;
    margin: auto;
    cursor: pointer;
}

.footer-search-box svg{
    color: #000;
}


.footer-search-box{
    display: none;
}

.footer-links li{
    font-size: 1rem;
    margin-bottom: 5px;
    padding: 5px 0;
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer-links li:hover{
    text-decoration: underline;
}

.footer-links li::before{
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: var(--red);
    display: inline-block;
}

footer p{
    width: 100%;
    text-align: center;
    font-size: .9rem;
    color: #fff;
    margin-top: 20px;
}

footer p a{
    font-weight: 600;
}

footer p a:hover{
    text-decoration: underline;
}

@media screen and (min-width : 480px) {
    footer .socials{
        gap: 40px;
    }
}

@media screen and (min-width : 768px) {

    footer{
        padding-top: 70px;
        background: linear-gradient(to bottom, #202020 0, #2b2b2b 20%);
    }

    .footer-content-top{
        border-bottom: 1px solid #d6d6d6;
        padding-bottom: 15px;
    }

    .footer-content-bottom{
        padding-top: 15px;
    }

    .footer-links{
        display: flex;
        gap: 15px;
        width: 100%;
    }
    
    .footer-links li{
        font-size: .9rem;
    }

    .footer-links li::before{
        display: none;
    }

    .footer-content-top{
        flex-direction: row-reverse;
    }

    footer .socials-and-search-box{
        align-items: center;
    }

    footer .socials {
        gap: 10px;
    }

    footer .socials svg {
        width: 20px;
        height: 20px;
    }

    .footer-search-box{
        display: flex;
    }
}

@media screen and (min-width : 992px) {
    footer .container{
        flex-direction: row;
        align-items: center;
        gap: 50px;
    }

    footer img{
        width: 100px;
    }

    .footer-links li{
        font-size: 1rem;
    }

    .socials-and-search-box input{
        width: 100px;
    }
}
