.media-content-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 40px;
    column-gap: 30px;
}

.media-card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    height: auto !important;
}

.media-card img {
    width: 100%;
    height: 400px;
    border-radius: 10px;

}

.media-card > a {
    height: 100%;
}


.media-card .media-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.media-card .media-info a {
    font-size: 1rem;
    font-weight: 600;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 5px 0;
}

.media-card .btn-wrapper{
    display: flex;
    align-items: center;
    gap: 5px;
}

.media-card button{
    font-size: .9rem;
}

.media-card .btn{
    cursor: auto !important;
}

@media screen and (min-width : 480px) {
    .media-content-wrapper{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (min-width : 768px) {
    .media-content-wrapper{
        grid-template-columns: repeat(3,1fr);
    }
}

@media screen and (min-width : 992px) {
    .media-content-wrapper{
        grid-template-columns: repeat(4,1fr);
        column-gap: 20px;
        row-gap: 30px;
    }

    .media-card img{
        height: 350px;
    }
}

